@charset "UTF-08";

/*variáveis para as cores (para facilitar futuras mudanças)*/
:root{
    --cor1:  rgb(160, 29, 33);
    --cor2: rgb(104, 14, 15);
    --cor3: rgb(151, 28, 30);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.explorar {
    background-color: var(--cor1);
    display: flex;
}

.botao {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
}

.explorar > .botao:hover{
    background-color: var(--cor2);
}

.tela {
    display: flex;
}

.menulateral1 {
    background-color: var(--cor2);
    height: auto;
    flex-basis: 300px;
    
}

.menulateral1 > .botao:hover {
    background-color: var(--cor1)
    
}

.tela > .menucentral {
    padding: 0;
    flex-basis: 150px;
}

.menucentral > #capas {
    height: 150px;
    width: 150px;
    margin: 30px 30px 30px 30px; /* top left right bottom */
    box-shadow: 10px 10px 10px;
}

.menucentral {
    padding: 20px;
    background-color: var(--cor3);
    display: flex;
    flex-grow: 3;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
}

.menulateral2 {
    padding: 20px;
    background-color: var(--cor2);
    height: 700px;
    flex-grow: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: #fff;
    
}

footer {
    background-color: var(--cor1);
    height: 50px;
    text-align: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: #fff
}

.copy {
    position: relative;
    top: 15px;
}
