.botao{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    display: block;
    background-color: rgb(23, 62, 99); 
    color: white;
}

.botao:hover{
    background-color: blue;
}

.nav-lateral{
    position: fixed;
    top: 0;
    left: 0;
    background-color: burlywood;
    width: 400px;
    height: 100vh;
}
